.searchbar-container {
  position: sticky;
  display: flex;
  flex: 1;
  width: 50%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  box-shadow: var(--primary-box-shadow);
  background-color: var(--primary-bg);
  border: 1px solid var(--border-white);
  border-radius: 10px;
}

.searchbar {
  display: flex;
  flex: 2;
}

.search-icon {
  font-size: 20px;
  color: var(--inactive-gray);
  margin: 0px 12px;
}

.search-input {
  border: none;
  width: 60%;
  font-size: 14px;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .searchbar-container {
    width: 50% !important;
  }
}

@media only screen and (max-width: 796px) {
  .searchbar-container {
    width: 80% !important;
  }
}

@media only screen and (max-width: 469px) {
  .searchbar-container {
    width: 100% !important;
  }
}
