.background-wrapper-class {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  opacity: 0.85;
  visibility: visible;
  transition: opacity 0.25s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.login-container {
  width: max-content;
  position: absolute;
  min-height: 150px;
  min-width: 20rem;
  border-radius: 0.6rem;
  transform: scale(1);
  box-shadow: rgb(28 28 28 / 15%) 0px 1.2rem 7rem;
  transition: transform 0.25s ease 0s;
  background-color: rgb(255, 255, 255);
  height: max-content;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  z-index: 1000;
  display: block;
  padding: 0px 1.8rem 0.2rem;
  font-family: Okra, Helvetica, sans-serif;
  overflow: hidden;
}

:after,
:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.login-topfold {
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.login-topfold h2 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: rgb(79, 79, 79);
  font-family: Okra, Helvetica, sans-serif;
}

.login-topfold i {
  max-height: 3rem;
  height: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.login-input {
  position: relative;
  display: flex;
  min-height: 0.6rem;
  padding: 0.8rem;
  background-color: rgb(250, 250, 250);
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 6px;
}

.login-select-country {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.login-select-country img {
  width: 20%;
  height: 10%;
  transform: none;
  opacity: 1;
}

.login-select-country span {
  margin-left: 24px;
  color: rgb(28, 28, 28);
  min-width: 2rem;
  text-align: left;
}

.login-select-country i {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.input-seperator {
  height: 1.2rem;
  border-left: 1px solid rgb(207, 207, 207);
  margin-left: 6px;
}

.login-input input {
  margin-left: -30px;
  font-size: large;
  border: none;
  outline: none;
  color: rgb(28, 28, 28);
  background-color: rgb(252, 252, 252);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-button-enabled {
  height: 3.2rem;
  min-width: 100%;
  min-height: 44px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-radius: 0.6rem;
  padding: 0px;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: border-box rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.login-button-disabled {
  height: 3.2rem;
  min-width: 100%;
  min-height: 44px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-radius: 0.6rem;
  padding: 0px;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  background: border-box rgb(156, 156, 156);
  border-color: rgb(156, 156, 156);
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  cursor: not-allowed;
}

.login-seperator {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.login-seperator span {
  position: absolute;
  padding: 0.1rem 0.6rem 0.5rem 0.5rem;
  background: rgb(255, 255, 255);
  font-size: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(105, 105, 105);
}

.common-button {
  width: 100%;
  margin-top: 12px;
  height: 3.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 5rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.6rem;
  cursor: pointer;
  background: rgb(255, 255, 255);
  user-select: none;
}

.common-button i {
  width: 32px;
}
.common-button span {
  color: rgb(105, 105, 105);
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.6rem;
}

.login-container p {
  margin-top: 24px;
  font-size: 1rem;
  color: rgb(28, 28, 28);
  text-align: left;
  cursor: pointer;
}

.login-container p span {
  margin-left: 12px;
  color: rgb(239, 79, 95);
  cursor: pointer;
  font-size: inherit;
}

.email-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 370px;
  height: 30%;
}

.email-login input {
  margin-top: 12px;
  padding: 1.3rem 1.2rem;
  height: 3.2rem;
  background: rgb(255, 255, 255);
  border: 0.1rem solid rgb(207, 207, 207);
  font-size: large;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  color: rgb(28, 28, 28);
}

.email-login input::placeholder {
  color: rgb(181, 181, 181);
}
