.background-wrapper-class {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  opacity: 0.85;
  visibility: visible;
  transition: opacity 0.25s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.original-wrapper {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: opacity 0.25s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.signup-container {
  width: max-content;
  position: absolute;
  min-height: 150px;
  min-width: 23rem;
  border-radius: 0.6rem;
  transform: scale(1);
  box-shadow: rgb(28 28 28 / 15%) 0px 1.2rem 7rem;
  transition: transform 0.25s ease 0s;
  background-color: rgb(255, 255, 255);
  height: max-content;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  z-index: 1000;
  display: block;
  padding: 0px 1.8rem 0.2rem;
  font-family: Okra, Helvetica, sans-serif;
}

:after,
:before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.signup-topfold {
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.signup-topfold h2 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500;
  color: rgb(79, 79, 79);
  font-family: Okra, Helvetica, sans-serif;
}

.signup-topfold i {
  max-height: 3rem;
  height: 3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.signup-input {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  height: 30%;
}

.signup-input input {
  margin-top: 12px;
  padding: 1.3rem 1.2rem;
  height: 3.2rem;
  background: rgb(255, 255, 255);
  border: 0.1rem solid rgb(207, 207, 207);
  font-size: large;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  color: rgb(28, 28, 28);
}

.signup-input input::placeholder {
  color: rgb(181, 181, 181);
}

.error-message {
  height: 15px;
  color: rgb(224, 53, 70);
  visibility: visible;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
}

.signup-input section {
  margin-top: 12px;
  height: 60px;
}

.signup-input section input {
  width: 15px;
  height: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(156, 156, 156);
  box-sizing: border-box;
  position: relative;
  transition: all 0.4s ease 0s;
}

.signup-input section span {
  font-size: 0.8rem;
  color: rgb(105, 105, 105);
}

.signup-input section span label {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: rgb(239, 79, 95);
}

.signup-button-enabled {
  position: relative;
  height: 3.2rem;
  min-width: 100%;
  min-height: 44px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-radius: 0.6rem;
  padding: 0px;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 1;
  background: border-box rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.signup-button-disabled {
  position: relative;
  height: 3.2rem;
  min-width: 100%;
  min-height: 44px;
  display: inline-flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-radius: 0.6rem;
  padding: 0px;
  border: none;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  background: border-box rgb(156, 156, 156);
  border-color: rgb(156, 156, 156);
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  cursor: not-allowed;
}

.login-seperator {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  width: 100%;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.login-seperator span {
  position: absolute;
  padding: 0.1rem 0.6rem 0.5rem 0.5rem;
  background: rgb(255, 255, 255);
  font-size: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(105, 105, 105);
}

.common-button {
  width: 100%;
  margin-top: 12px;
  height: 3.2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 5rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.6rem;
  cursor: pointer;
  background: rgb(255, 255, 255);
  user-select: none;
}

.common-button i {
  width: 32px;
}
.common-button span {
  color: rgb(105, 105, 105);
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.6rem;
}

.signup-container p {
  margin-top: 24px;
  font-size: 1rem;
  color: rgb(28, 28, 28);
  text-align: left;
}

.signup-container p span {
  margin-left: 12px;
  color: rgb(239, 79, 95);
  cursor: pointer;
  font-size: inherit;
}
